.head {
    width: 100%;
    height: 600px;
    background-color: #949799;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    box-sizing: border-box;
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    box-sizing: border-box;
}

.article {
    display: flex;
    justify-content: start;
    padding: 70px 150px;
    box-sizing: border-box;
    color: white;
}
.article span {
    font-size: 2em;
}