.card {
    width: 105px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
}

.wrapper {
    width: 50px;
    margin-top: 10px;
    border: solid 1px #000;
}