.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    box-sizing: border-box;
    height: 70px;
    color: grey;
}

.title {
    color: white;
    font-size: 1.5em;
}

.home,
.about,
.contacts {
    border: none;
    color: gray;
    background-color: #000;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}

.home:hover,
.about:hover,
.contacts:hover {
    background-color: #fff;
}